.note-container {
  padding: 2em;
  background-color: rgba(46, 204, 113,1.0);
  margin: 1em 10px;
  min-width: 200px;
}

.note-title {
  color: #FFF;
  font-size: 22px;
  margin-bottom: 20px;
}

.note-content {
  color: #FFF;
  font-size: 18px;
  word-wrap: break-word;
}
